*,
*::before,
*::after {
  box-sizing: border-box;
}
*::selection {
  background-color: #fec260;
  color: white;
}
*:focus {
  border-color: #d99c39 !important;
  outline: none !important;
  box-shadow: 0 0 0 0.25rem #fec26055 !important;
}
body {
  background-color: #f7ecde;
}

.logo h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  position: relative;
  max-width: fit-content;
  margin: auto;
}
.logo h1:hover::after {
  height: 75%;
}
.logo h1::after {
  position: absolute;
  content: "";
  background-color: #fec260;
  height: 25%;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
.bookmarker-body {
  border: 1px dashed black;
  border-left: none;
  border-right: none;
}
.title h2 {
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  background-clip: text;
  color: transparent;
  max-width: fit-content;
  text-align: center;
}
.submitBtn {
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  border-left: #3ca55c;
  border-right: #b5ac49;
  border-top: none;
  border-bottom: none;
  transition: all 0.3s ease-in-out !important;
}
.submitBtn:hover {
  background-image: linear-gradient(to right, #31824a, #847e39);
  border-left: #3ca55c69;
  border-right: #b5ac495d;
}
.table-heading th {
  border: none !important;
}
